@font-face{
    font-family: 'font';
    src: url(../font/bebasneue-regular-webfont.woff) format('woff');

}
body{
    font: 20px/40px 'font', 'arial narrow', 'sans-serif';
}
h1{
    font-size: 70px;
    margin: 35px 0;
    text-align: center;
}